
#rsp-buttons {
  margin-top: 55px;
}

#player-name {
  margin-top: 50px;
}

#main {
  height: 300px;
}

#panel-wrap-wrap {
  width: 1105px;
  height: 500px;
  margin-top: 100px
}

#panel-wrap {
  margin-top: 50px;
  width: 1100px
  height: 400px;
}

#rps-worried {
  background-image: url("../images/rps-worried.png");
  background-repeat: no-repeat;
  margin-top: 50px;
  height: 425px;
  width: 700px;
}

.panels {
  border: 1px solid pink;
  float: left;
  background-repeat: no-repeat;
  border: 1px solid black;
  margin-top: 50px;
  height: 350px;
  width: 350px;
}

.panels:hover {
  opacity: 0.75;
}

.winner {
  border: 5px solid green;
  opacity: 0.75;
}

#panel-one {
  background-image: url("../images/rock.png");
  margin-bottom: 20px;
}

#panel-two {
  background-image: url("../images/paper.png");
  margin: 50px 25px 0 25px;
}

#panel-three {
  background-image: url("../images/scissors.png");
}
