<h2>Computer chose <%= @game.computer_selection %></h2>
<h2>You chose <%= @game.player_selection %></h2>
<br>
<form action="/">
  <input type="submit" value=RESET name=reset class="btn btn-primary">
</form>

<%=erb(:panels)%>
