<br>
<br>
<form action=/play method=get>
  <button type=submit value=ROCK name=ROCK class="btn btn-primary">ROCK</button>
  &nbsp;&nbsp;&nbsp;&nbsp;<button type=submit value=SCISSORS name=SCISSORS class="btn btn-primary">SCISSORS</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button type=submit value=PAPER name=PAPER class="btn btn-primary">PAPER</button>
</form>
<form action="/">
  <input type=submit value=RESET name=reset class="btn btn-primary">
</form>
