<h2>Computer chose <%= @game.computer_selection %></h2>
<h2>You chose <%= @game.player_selection %></h2>
<br>
<form class = "upper" action=/welcome method=get>
  <button type=submit value=AGAIN class="btn btn-primary">PLAY AGAIN?</button>
</form>
